/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $main-text;
	background-color: $background;

	&.overflow-hidden {
		/* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */ 
		overflow: hidden;
	}
}

a {
	color: $link;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */



/*Use if you want a pic in nav*/

/*.cd-img-replace { 
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}*/

/* -------------------------------- 

xheader 

-------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: $color-5;
	/*text-align: center;*/
	box-shadow: 0 2px 0 rgba(#000, .1);

	z-index: $header-zindex;

	
}

.nav_avatar{
	cursor: pointer;
}


.signed-out-nav{
	position: absolute;
	height: auto;
	width: auto;
	left: auto;
	right: 8em;
	padding-top: 0;
	top: 0;
	background: transparent;
	box-shadow: none;
	line-height: 50px;
	z-index: 4;

	li {
			display: inline-block;
			margin-left: 1em;
		}

}

#right-nav{
	float: right;
	margin-right: 20px;
	margin-top: 6px;

	ul{
		display: flex;
	}

	.button{
	  margin-left: 10px;
	  line-height: 36px;
	}
}

#left-nav{
	float:left;
	margin-top: 6px;
	margin-left: 20px;

	#nav-logo{
		font-size: 2em;
	}

	ul{
		display: flex;
	}

	li{
		margin-right: 20px;
	}
}

.active{
  	opacity: 1;
  }

/*start of left drop down menu*/

#popover{

  overflow: hidden;
  position: absolute;
  z-index: 900;
  visibility: visible;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  opacity: 1;
  pointer-events: auto;
  margin-left: -17px;
  display: none;
  margin-top: -7px;
  

	ul{
		display:block;
	}

	.popover-arrow{
		top: 1px;
  	clip: rect(0 18px 14px -4px);
  	position: absolute;
  	margin-left: 12px;
	}

	.popover-arrow:after {
	  content: '';
	  display: block;
	  width: 14px;
	  height: 14px;
	  background: #fff;
	  -webkit-transform: rotate(45deg) translate(6px, 6px);
  -ms-transform: rotate(45deg) translate(6px, 6px);
  transform: rotate(45deg) translate(6px, 6px);
  box-shadow: -1px -1px 1px -1px rgba(0,0,0,0.44);
	}

	.inner-popover{
		position: relative;
	  max-width: 280px;
	  padding: 14px;
	  background: #fff;
	  border-radius: 4px;
	  box-shadow: 0 1px 2px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);

	  .popover-item:hover{
	  	.icon{color: rgba(0,0,0,0.7);
	  	}
	  }

	  .popover-item{
	  		padding: 0;
	  		text-align: left;
			  width: 100%;
			  line-height: 1.4;
			  white-space: nowrap;

			.button--chromeless{
				color: rgba(0,0,0,0.7);
			}

			.icon{
				width: 24px;
				display: inline-block;
				color: rgba(0,0,0,0.3);
			}

	  	a{
	  		font-size: 1.2em;
	  		padding: 7px 10px;
	  	}
	  }
	}
}




	

	


