<% if user_signed_in? %>
  <div class="row">
       <div class="four columns">
            <div class="stats">
              <%= render 'shared/stats' %>
            </div>
            <div class="post_form ">
              <%= render 'shared/post_form' %>
            </div>
       </div>
       <div class="eight columns">
         <%= render 'shared/feed' %>
       </div>
  </div>
<% else %>
  <!-- landing page for new users -->
  <div class="center jumbotron">
    <h1>Welcome to curate,</h1>

    <h2>
      Share your favorite music with your favorite people,
    </h2>
    <h3>
      From Youtube, Soundcloud and Vimeo.
    </h3>

    <%= link_to "Sign up now!", new_user_registration_path, class: "button button-primary" %>
  </div>

  
<% end %>