<!--Start main-article-->
<div id="main-article-wrapper">

    <!--Start main-article-wrapper-->
    <div id="main-article">

        <!--Start top-story-->
        <div id="top-story">
            
            <img src="../images/nextimages/microsoft-big.jpg"/>

                <div id="article-inline">
                    <span class="date">By</span>
                    <span class="author">Roberto Baldwin</span>
                    <span class="date">— 11 Feb '15</span>
                </div>

                <div class="article-header">
                    <h1>It's official, Microsofts acquired sunrise calendar app</h1>
                </div>

                <div id="article-excerpt">
                    <p>A week after the news dropped that&nbsp;Microsoft was&nbsp;acquiring calendar app maker, Sunrise Atelier, the companies have confirmed the acquisition via a YouTube video that has since been made private. The…</p>
                </div>

        </div>
        <!--End top story-->

        <!--Start side-main-story-->
        <div id="side-main-story">
            
            <div class="loop-story">
                
                <img src="../images/nextimages/bittorrent-side.jpg"/>

                <div id="article-inline">
                    
                    <span class="date">11 Feb '15</span>
                    <span class="date"> — By</span>
                    <span class="author">Napier Lopez</span>
                        
                </div>

                <div id="article-description">
                    <h2>BitTorrent takes on Netflix and Amazon with new original content partnership</h2>
                </div>

            </div>
            <!--END loop-story-->

            <div class="loop-story">
                
                <img src="../images/nextimages/applewatch-side.png"/>

                <div id="article-inline">
                    
                    <span class="date">11 Feb '15</span>
                    <span class="date"> — By</span>
                    <span class="author">Tnw Deals</span>
                        
                </div>

                <div id="article-description">
                    <h2>89% off the Apple Watch App Builder Course</h2>
                </div>

            </div>
            <!--end of loop-story-->
        </div>
        <!--end side-main-story-->
    
    
    <div id="announcement">
        <span>Announcement</span>
        <p>TNW Deals: Save money on apps, education, games and gear. Click here to view deals!</p>
    </div>

    <div id="main-article-half">

        
        <div id="second-main-stories-top">
            <img src="../images/nextimages/smart-second.jpg"/>
            <span class="date">11 Feb, 06:16pm</span>
            <span class="date"> — By</span>
            <span class="author">Mic Wright</span>
            <h2>Samsung's Troubles Prove Smart TVs Are Dumb</h2>
        </div>

        <div id="second-main-stories-top">
            <img src="../images/nextimages/facebook-like-second.jpg"/>
            <span class="date">11 Feb, 03:00pm</span>
            <span class="date"> — By</span>
            <span class="author">Roberto Baldwin</span>
            <h2>Facebook Launches Threat Exchange to Battle Security Issues</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/imac-give-second.png"/>
            <span class="date">11 Feb, 02:55pm</span>
            <span class="date"> — By</span>
            <span class="author">Tnw Deals</span>
            <h2>Last Chance to Enter the iMac Giveaway - Ends Tonight!</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/phone-second.jpg"/>
            <span class="date">11 Feb, 02:17pm</span>
            <span class="date"> — By</span>
            <span class="author">Abhimanyu Ghoshal</span>
            <h2>You Can Now Unlock Your Phone and Switch Carriers in the US</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/shutterstock-second.jpg"/>
            <span class="date">11 Feb, 06:16pm</span>
            <span class="date"> — By</span>
            <span class="author">Mic Wright</span>
            <h2>Samsung's Troubles Prove Smart TVs Are Dumb</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/germwat-second.jpg"/>
            <span class="date">11 Feb, 01:00pm</span>
            <span class="date"> — By</span>
            <span class="author">Ben Woods</span>
            <h2>Nokia's HERE Maps Updated on Android and Windows Phone</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/4gee-second.jpg"/>
            <span class="date">11 Feb, 12:01pm</span>
            <span class="date"> — By</span>
            <span class="author">Ben Woods</span>
            <h2>EE to Spend £1.5bn Bringing 'Double Speed'</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/uber-second.jpg"/>
            <span class="date">11 Feb, 06:16pm</span>
            <span class="date"> — By</span>
            <span class="author">ABHIMANYU GHOSHAL</span>
            <h2>Uber's Panic Button is Now Live in India</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/ubuntu-second.jpg"/>
            <span class="date">11 Feb, 09:00am</span>
            <span class="date"> — By</span>
            <span class="author">ABHIMANYU GHOSHAL</span>
            <h2>The Ubuntu Phone Is Now On Sale In Europe</h2>
        </div>

         <div id="second-main-stories">
            <img src="../images/nextimages/yoyo-second.jpg"/>
            <span class="date">11 Feb, 08:55am</span>
            <span class="date"> — By</span>
            <span class="author">ABHIMANYU GHOSHAL</span>
            <h2>Could This Be the Future of GIFs?</h2>
        </div>

    <div id="seperator">

        <div id="second-main-stories">
            <img src="../images/nextimages/pod-second.png"/>
            <span class="date">11 Feb, 07:00am</span>
            <span class="date"> — By</span>
            <span class="author">BEN WOODS</span>
            <h2>Fleet of 40 'Driverless Pods' to Hit the UK's Footpaths</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/rapidshare-second.jpg"/>
            <span class="date">11 Feb, 06:30am</span>
            <span class="date"> — By</span>
            <span class="author">ABHIMANYU GHOSHAL</span>
            <h2>File Hosting Service Rapidshare Shutting Down</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/passport-second.jpg"/>
            <span class="date">11 Feb, 04:40am</span>
            <span class="date"> — By</span>
            <span class="author">JACKIE DOVE</span>
            <h2>Going Places: You Too Can Tote A Tattooed Passport</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/twitter-second.gif"/>
            <span class="date">11 Feb, 01:31am</span>
            <span class="date"> — By</span>
            <span class="author">ROBERTO BALDWIN</span>
            <h2>Twitter Thinks Some of us are Bots Right Now</h2>
        </div>

    </div>


        <div id="second-main-stories">
            <img src="../images/nextimages/left-shark-second.jpg"/>
            <span class="date">10 Feb, 11:47pm</span>
            <span class="date"> — By</span>
            <span class="author">ROBERTO BALDWIN</span>
            <h2>Google Hides Dancing Left Shark</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/windows-second.jpg"/>
            <span class="date">10 Feb, 11:42pm</span>
            <span class="date"> — By</span>
            <span class="author">Owen Williams</span>
            <h2>Microsoft Patches Massive Flaw In Active Directory</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/googleio-second.jpg"/>
            <span class="date">10 Feb, 09:16pm</span>
            <span class="date"> — By</span>
            <span class="author">NAPIER LOPEZ</span>
            <h2>Google's I/O Conference Is Slated for May 28 and 29</h2>
        </div>

        <div id="second-main-stories">
            <img src="../images/nextimages/pipes-second.jpg"/>
            <span class="date">10 Feb, 09:00pm</span>
            <span class="date"> — By</span>
            <span class="author">OWEN WILLIAMS</span>
            <h2>Pipes 2.0 Makes It Easier To Keep Up With The News</h2>
        </div>

        <p id="next-page">Next page »</p>

        </div>
        </div>

    
    </div>
    <!--End of main-article-->

</div>
<!--END main-wrapper-->
