<!--Start stream-->
<div id="stream">

    <!--Start top-stream-->
    <div id="top-stream">
        
        <ul>
            <li id="latest">
                <i class="fa fa-clock-o"></i> Latest
            </li>
            <li id="popular">
                <i class="fa fa-fire"></i> Popular
            </li>
        </ul>

        <!--Start all-channels-->
        <div id="all-channels">
            
            <span>All Channels</span> <i class="fa fa-sort-desc"></i>
        
        <select>
            
            <option value ="all">All Channels</option>

            <optgroup label="Channels">
                <option value="apps">Apps</option>
                <option value="creativity">Creativity</option>
                <option value="dd">Design & Dev</option>
                <option value="entrepreneur">Entrepreneur</option>
                <option value="gadgets">Gadgets</option>
                <option value="Insider">Insider</option>
                <option value="lifehacks">Lifehacks</option>
                <option value="media">Media</option>
                <option value="Offers">Offers</option>
                <option value="Shareables">Shareables</option>
                <option value="socialmedia">Social Media</option>
            </optgroup>

        </select>
        </div>
        <!--END all-channels-->
    </div>
    <!--END top stream-->

        <!--Start stream-list-->
        <div id="stream-list">
            <ul>
                <li id="stream-item">
                    <img src="../images/nextimages/hiringdevs-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">How To Find and Attract the Best Developers Globally</a>
                    </div>
                </li>
                <li id="stream-item">
                    <img src="../images/nextimages/cloud-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Anyone Can Now Try iWork for iCloud Without an Apple Device</a>
                    <p class="date">1 Hour ago</p>
                    </div>
                </li>
                <li id="stream-item">
                    <img src="../images/nextimages/shazam-stream.png"/>
                    <div id="stream-item-title">
                    <a href="">Shazam for Windows Phone gets Trending, Future Hits, Lyrics Pages</a>
                    <p class="date">2 Hours ago</p>
                    </div>
                </li>

            <ul>
                 <li id="stream-item">
                    <img src="../images/nextimages/view-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Google and Mattel reimagine the View-Master for 2015 with virtual</a>
                    <p class="date">3 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/cricket-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Google and Bing bring Cricket World Cup News to Your Phone</a>
                    <p class="date">4 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/adobe-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Last Chance for 84% off Lifetime Access to over 5,000 Adobe Training</a>
                    <p class="date">5 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/virgin-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Virgin Media to Spend £3bn on Connecting 4 Million Homes to</a>
                    <p class="date">6 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/sony-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">See What It's Like to Wear Sony's Clip-on Heads-up Display</a>
                    <p class="date">7 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/pinterest-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Pinterest Bans Affiliate Links, Killing Monetization for Bloggers</a>
                    <p class="date">9 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/facebook-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Facebook Groups Updated on iOS with New Admin Abilities</a>
                    <p class="date">10 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/lock-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Microsoft Updates Next Lock Screen for Android</a>
                    <p class="date">11 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/line-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Line Launches a New App to Connect Brands with Their Fans</a>
                    <p class="date">13 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/darkroom-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Darkroom For iOS is The Photo App You Always Wanted</a>
                    <p class="date">16 Hours ago</p>
                    </div>
                </li>
                 <li id="stream-item">
                    <img src="../images/nextimages/slack-stream.jpg"/>
                    <div id="stream-item-title">
                    <a href="">Slack Is Turning the Business Messaging Space on Its Head</a>
                    <p class="date">18 Hours ago</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--END stream list-->

    <!--Start stream footer-->
    <div id ="stream-footer">
        <ul>
        <li>About</li>
        <li>Goodies</li>
        <li>Advertise</li>
        <li>Privacy</li>
        <li>ToS</li>
        </ul>
    </div>
    <!--END stream footer-->

</div>
<!--END stream-->