<!--Start stream-->
<div id="stream">

    <!--Start top-stream-->
    <div id="top-stream">
        
        <ul>
            <li id="latest">
                Post
            </li>
            <li id="popular">
                Message
            </li>
        </ul>

        <!--Start all-channels-->
        <div id="all-channels">
            
            <span>All Channels</span> <i class="fa fa-sort-desc"></i>
        
        </div>
        <!--END all-channels-->
    </div>
    <!--END top stream-->
    

        <!--Start stream-list-->
        <div id="stream-list">
            <ul>
                
                <%= render 'messages/sidebar' %>
                 
                
            </ul>
        </div>
        <!--END stream list-->

    

</div>
<!--END stream-->