<!--Start stream-->
<div id="stream">

        
            <ul>
                
                <%= render 'messages/sidebar' %>
                   
            </ul>
        

</div>
<!--END stream-->