<!--Start stream-->
<div id="stream">

    <!--Start top-stream-->

    <!--END top stream-->
    

        <!--Start stream-list-->
        <div id="stream-list">
            <ul>
                
                <%= render 'messages/sidebar' %>
                 
                
            </ul>
        </div>
        <!--END stream list-->

    

</div>
<!--END stream-->