// colors

$main-text: #31353d; // main text
$link: #435779; // anchor tags
$background: #eeeff7; // background color
$header-bg: #31353d;
$border-color: #d9e0e2;

$border: #e0e6ef;
$light-text: #a5aebc;
$green: #7dcf85;



$color-1: #ff5a5f; // airbnb red
$color-2: #19191a; // Dark Blue
$color-3: #e4655f; // Red
$color-4: #e6e6e6; // light grey
$color-5: #fff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

$shadow-layer-bg: rgba(#435779, .6);

// fonts 

$primary-font: "Brandon", Helvetica, Arial, sans-serif;

// z-index

$header-zindex: 4;
$sidebar-zindex: 3;
$shadow-zindex: 2;
$main-zindex: 4;

/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
	border: none;
	box-shadow: none;
	border-radius: .25em;
	font: {
		size: 1rem;
	}
	color: $color-5;
	padding: .6em 1.2em;
	cursor: pointer;
	background: $color-1;

	&:focus {
		outline: none;
	}

	.no-touch &:hover {
		background: lighten($color-1, 5%);
	}

	&.btn-success {
		background: $success;

		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-dull {
		background: $color-4;

		.no-touch &:hover {
			background: lighten($color-4, 5%);
		}
	}

	&.btn-alert {
		background: $alert;

		.no-touch &:hover {
			background: lighten($alert, 5%);
		}
	}

	&.btn-outline {
		color: $color-1;
		background: transparent;
		box-shadow: inset 0 0 0 1px $color-1;

		.no-touch &:hover {
			color: $color-5;
			background: $color-1;
		}
	}

	font-size: 1rem;
}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */ 
	color: $color-1;
}

body{
  padding-top: 50px;
}

/* -------------------------------- 

xForm 

-------------------------------- */
input[type=text], input[type=email], input[type=password], select, textarea  {
  border: 1px solid #e0e6ef;
  border-radius: .25em;
  background: #ffffff;
}
input[type=text]:focus, select:focus, input[type=email]:focus, input[type=password]:focus {
  outline: none;
}

input[type=text], input[type=email], input[type=password] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}
input[type=text], input[type=email], input[type=password] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

input[type=text], input[type=email], input[type=password] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

input[type=text].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

input[type=password].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

input[type=text].alert {
  border-color: #e4655f;
  box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  border-color: #5f8ee4;
  box-shadow: 0 0 6px rgba(95, 142, 228, 0.2);
}







