
<div id="main-article-wrapper">
    <div id="main-article">	

	    <div id="feed-form">	
			<form id="post-form">
				<input type="text" name="post[body]" placeholder="Share some sound..." id="post-body">
				<input type="submit" class="button do">
			</form>
		</div>

	</div>
</div>	

<div id="cd-cart">
	<div id="stream">

		<form action="/messages" accept-charset="UTF-8" method="post">
		      <input name="utf8" type="hidden" value="&#x2713;" />
		      <input type="hidden" name="authenticity_token"  />
		      <textarea id="url" class="message_body" name="message[content]"></textarea>
		        
		  <div id="stream-list" class="follow-list">
		      <ul>   
		          <label for="user4" >
		          <li id="stream_item">
		                   
		              <span class="round-image-50 "><img src="avatar" /></span>
		              <span class="list-group-item">calvin</span>

		              <input type="checkbox" name="message[user_tokens][]" id="user4" value="4" />
		                
		            </li>
		            </label>
		            <br>
		       </ul>
		  </div>
		        
		  <div id ="stream-footer">
		      <button name="button" type="submit" class="btn btn-outline">submit</button>
		  </div>
		</form>
		
	</div>
</div> 
