
/*********  Main Feed ********/

#main-article-wrapper{
	padding-top: 1em;
	height:100%;
	/*background-color:#F8F9FA;*/

	.round-image-50 img {
		margin-top: 9px;
		}
}

#main-article{
	width:500px ;
	min-height:100%;
	height:auto;
	max-width: 798px;
	/*background-color:#FFF;*/
	margin:auto;
}






