/*************** Profile top container **************/

.profile-foreground{
  width: 100%;
  background: #fff;
  padding-bottom: 30px;
  padding-top: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

#profile-container{
  text-align: center;

  h1{
    font-size: 2.5em;
  }

  .menu-item{
    display: inline-block;
  }

  #medium-avatar{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 0px;
    background-color: #fff;
    border: 3px solid #fff;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }

  .button--chromeless{
      border-radius: 0;
    box-shadow: none;
    background: rgba(0,0,0,0);
    height: auto;
    line-height: inherit;
    border-width: 0;
    padding: 0;
    vertical-align: baseline;
    color: rgba(0,0,0,0.3);
    white-space: normal;
  }

  .button--chromeless{
    padding: 10px 20px 5px;
    color: rgba(0,0,0,0.8);
    font-size: 24px;
  }
  
  .before{
    border-right: 1px solid rgba(0,0,0,0.05);
  }

  .menu-label{
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    display: block;
    font-size: 11px;
    letter-spacing: 2px;
    padding-bottom: 4px;
  }

  #follow{
      margin-top: 10px;
      line-height: 2.5;
  }

  .unfollow{
    border-color: $color-1;
    background: $color-1;
    color: #fff;
  }

  .follow{
    border-color: $color-1;
    color: $color-1;
  }
}



/*************** Profile Post **************/

#main-user-wrapper{
  padding-top: 1em;
  height:100%;
  background-color:#F8F9FA;
}

#user-main{
  width:500px ;
  min-height:100%;
  height:auto;
  /*border-right: 1px solid #d9e0e2;
  border-left: 1px solid #d9e0e2;
  border-top: 1px solid #d9e0e2;;*/
  max-width: 798px;
  /*background-color:#FFF;*/
  margin:auto;
}

/************* Profile Box ******************/

#profile_name{
  background: rgba(0, 0, 0, 0.25);
 }


 .unfollow{
  color: #1E90FF;
  background-color: transparent;
  border-color: #1E90FF;
  font-weight: 200;
 }

.stylish-panel {
    margin-bottom: 1.25em;
    position: fixed;
    padding: 0 0 .75em 0;
    font-weight: 400;
    float: left;
    z-index: 2;
    background: #fff;
    border: 1px solid #d9e0e2;
    height: 322px;
    width: 250px;
    -webkit-font-smoothing: antialiased;
    margin-top: 65px;
    margin-left: 65px;
    text-align: center;
    border-radius: 4px;

    h2{
      font-size: 1.4em;
      padding: 5px;
    }

    .btn{
      width: 100%;
      margin-top: 6px;
    }
}

.stylish-panel img {
    width:100% ;
    height: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.stats{
  padding:5px;
}

/****************** queries **********************/


@media screen and (max-width:849px){
  
  .stylish-panel{
    display:none;
    
  }

}
@media screen and (max-width:653px){
  
  #main-article-wrapper{
    width:100%;
    border-right:none;
    border-left:none;
    margin:0;
  }


  #main-article{
    width: 95%;
  }

  
}











