


<div id="main-article-wrapper">
    <div id="main-article">
		<h1>users index</h1>

		<ul>
			<% users.each(function(user){ %>
				<li class="user-item">
					<span class="round-image-50 user-item-pic"><img class="avatar" src="<%= user.escape("thumb_avatar") %>" /></span>
					<span class="user-item-desc">
						<a href='#/users/<%= user.escape("id") %>'>
							<%= user.escape('name') %>
						</a>
						<%= user.escape('id') %>
					</span>
				</li>
				
			<% }) %>
		</ul>
		

		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
	</div>
</div>



