/* -------------------------------- 

xButtons 

-------------------------------- */
/* line 45, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1rem;
  color: #fff;
  padding: .6em 1.2em;
  cursor: pointer;
  background: #1CBCB0;
  font-size: 1rem;
}
/* line 57, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.btn:focus {
  outline: none;
}
/* line 61, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.no-touch .btn:hover {
  background: #1fd2c5;
}
/* line 65, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.btn.btn-success {
  background: #6fce72;
}
/* line 68, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.no-touch .btn.btn-success:hover {
  background: #82d485;
}
/* line 73, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.btn.btn-dull {
  background: #e6e6e6;
}
/* line 76, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.no-touch .btn.btn-dull:hover {
  background: #f3f3f3;
}
/* line 81, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.btn.btn-alert {
  background: #e4655f;
}
/* line 84, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.no-touch .btn.btn-alert:hover {
  background: #e87a75;
}
/* line 89, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.btn.btn-outline {
  color: #1CBCB0;
  background: transparent;
  box-shadow: inset 0 0 0 1px #1CBCB0;
}
/* line 94, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.no-touch .btn.btn-outline:hover {
  color: #fff;
  background: #1CBCB0;
}

/* line 103, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: #1CBCB0;
}

/* line 108, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
body {
  padding-top: 50px;
}

/* -------------------------------- 

xForm 

-------------------------------- */
/* line 117, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=text], input[type=email], input[type=password], select, textarea {
  border: 1px solid #e0e6ef;
  border-radius: .25em;
  background: #ffffff;
  outline: none;
}

/* line 124, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
textarea:focus {
  border: 1px solid #1CBCB0;
}

/* line 128, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=text]:focus, select:focus, input[type=email]:focus, input[type=password]:focus {
  outline: none;
}

/* line 132, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=text], input[type=email], input[type=password] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

/* line 136, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=text], input[type=email], input[type=password] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

/* line 141, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=text], input[type=email], input[type=password] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

/* line 146, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=text].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

/* line 151, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=password].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

/* line 156, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=text].alert {
  border-color: #e4655f;
  box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}

/* line 160, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/variable.scss */
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  border-color: #1CBCB0;
  box-shadow: 0 0 6px rgba(95, 142, 228, 0.2);
}

/* line 32, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/layout.scss */
.li {
  list-style: none;
}

/* line 36, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/layout.scss */
.u-pull-right {
  float: right;
}

/* line 40, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/layout.scss */
.u-pull-left {
  float: left;
}

/* line 1, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/custom.css.scss */
section.user_info {
  text-align: center;
}

/****************************************** flash ******************************************/
/* line 9, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/custom.css.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 17, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/custom.css.scss */
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 25, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/custom.css.scss */
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* line 33, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/custom.css.scss */
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* line 41, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/custom.css.scss */
.flash {
  display: none;
  background-color: #000;
  color: #fff;
}

/****************************************** header avatar ******************************************/
/* line 49, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/custom.css.scss */
.round-image-50 img {
  width: 35px;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid #e0e6ef;
}

/********************************************* Profile*************************************/
/********************************************* Home Page *************************************/
/* -------------------------------- 

Primary style

-------------------------------- */
/* line 7, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 12, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
*, *:after, *:before {
  box-sizing: border-box;
}

/* line 16, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
body {
  font-size: 100%;
  font-family: "Brandon", Helvetica, Arial, sans-serif;
  color: #31353d;
  background-color: #eeeff7;
}
/* line 24, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
body.overflow-hidden {
  /* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */
  overflow: hidden;
}

/* line 30, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
a {
  color: #435779;
  text-decoration: none;
}

/* line 35, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
img {
  max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/*Use if you want a pic in nav*/
/*.cd-img-replace { 
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}*/
/* -------------------------------- 

xheader 

-------------------------------- */
/* line 62, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  text-align: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}

/* line 77, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
.post {
  float: right;
  margin-top: 10px;
  margin-right: 118px;
  width: 60px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border: 1px solid #1CBCB0;
  padding: 6px 20px 5px 14px;
  border-radius: 4px;
}
/* line 91, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
.post a {
  color: #1CBCB0;
  cursor: pointer;
}

/* line 98, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
.signed-out-nav {
  position: absolute;
  height: auto;
  width: auto;
  left: auto;
  right: 8em;
  padding-top: 0;
  top: 0;
  background: transparent;
  box-shadow: none;
  line-height: 50px;
  z-index: 4;
}
/* line 111, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
.signed-out-nav li {
  display: inline-block;
  margin-left: 1em;
}

/* line 120, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#logo {
  margin-top: -5px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  width: 100px;
  margin-left: 42%;
  float: left;
  /* delete this property if you don't want your logo to scale down on mobile devices */
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 135, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
.nav-avatar img {
  border: 1px solid #eeeff7;
  margin-left: 15px;
  float: left;
}

/* line 142, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-hamburger-menu {
  position: absolute;
  margin-top: 9px;
  height: 100%;
  margin-left: 16px;
}
/* line 148, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-hamburger-menu .round-image-50 {
  margin-left: 6px;
  float: left;
}
/* line 154, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-hamburger-menu a {
  width: 60px;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  margin-top: 9px;
}

/* line 164, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart-trigger {
  position: absolute;
  top: 16px;
  height: 100%;
}
/* line 172, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart-trigger a {
  width: 60px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border: 1px solid #1CBCB0;
  margin-right: 28px;
  padding: 6px 20px 5px 20px;
  border-radius: 4px;
  color: #fff;
  background: #1CBCB0;
}

/* line 187, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-hamburger-menu {
  left: 0;
}
/* line 191, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-hamburger-menu #name a {
  margin-top: 1px;
}

/* line 201, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart-trigger {
  right: 0;
}
@media only screen and (min-width: 1200px) {
  /* line 201, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
  #cd-cart-trigger {
    /* cart right margin on desktop */
    right: 0;
  }
  /* line 210, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
  #cd-cart-trigger a {
    position: relative;
    width: 100px;
    border-left: none;
    /* background-color: #f2f2f2; */
    margin-right: 28px;
    padding: 6px 20px 5px 20px;
    border-radius: 4px;
  }
}

/* line 224, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#main-nav, #cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height */
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  /* line 224, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
  #main-nav, #cd-cart {
    width: 325px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 224, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
  #main-nav, #cd-cart {
    width: 325px;
  }
}

/* line 249, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#main-nav {
  left: -100%;
  background: #FFF;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
/* line 255, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#main-nav.speed-in {
  left: 0;
}
/* line 261, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  border-bottom: 1px solid #e0e6ef;
}
/* line 269, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#main-nav ul .current {
  box-shadow: inset 3px 0 #435779;
}
/* line 276, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
.no-js #main-nav {
  position: fixed;
}

/* line 281, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}
/* line 287, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart.speed-in {
  right: 0;
}
/* line 291, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart > * {
  padding: 0 1em;
}
/* line 295, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
/* line 302, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart .cd-cart-items {
  padding: 0;
}
/* line 305, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
/* line 310, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/header.scss */
#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*    main feed

-------------------------------- */
/* line 5, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
main {
  position: relative;
  min-height: 100%;
  background: #eeeff7;
  padding-top: 70px;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  /* line 5, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
  main {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 5, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
  main {
    padding-top: 120px;
  }
}

/* line 23, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
#cd-gallery-items li {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 768px) {
  /* line 29, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
  #cd-gallery-items li {
    width: 100%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  /* line 34, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 41, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
  #cd-gallery-items li {
    width: 100%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  /* line 46, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  /* line 50, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/feed.scss */
  #cd-gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}

/******************* post form ***********************/
/* line 4, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  padding: 25px;
  font-size: 1em;
}
/* line 11, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form .full-width {
  width: 100%;
  padding: 12px;
  margin-bottom: 13px;
  font-size: 1em;
}
/* line 19, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form input.btn-primary {
  width: 100%;
}

/* line 25, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
#cd-cart h2 {
  text-align: center;
}

/********************* edit user form ****************************/
/* line 32, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
#edit-wrapper {
  padding-top: 1em;
  height: 100%;
  background-color: #F8F9FA;
}

/* line 38, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
#edit-main {
  width: 500px;
  min-height: 100%;
  height: auto;
  max-width: 798px;
  background-color: #FFF;
  margin: auto;
  padding: 25px;
  border: 1px solid #d9e0e2;
  border-radius: 0.35em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 50px;
}
/* line 52, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
#edit-main h1 {
  text-align: center;
}
/* line 56, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
#edit-main input {
  width: 100%;
  margin-bottom: 20px;
}

/* line 63, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
#current-password i {
  font-size: .75em;
}

@media screen and (max-width: 653px) {
  /* line 70, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  #edit-main {
    width: 92%;
  }
}
/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
/* line 82, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}

/* line 98, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}

/* line 105, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* line 113, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 133, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}

/* line 138, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}

/* line 143, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}

/* line 146, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}

/* line 149, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}

/* line 157, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}

@media only screen and (min-width: 600px) {
  /* line 162, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-user-modal-container {
    margin: 4em auto;
  }

  /* line 165, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}
/* line 171, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form {
  padding: 1.4em;
  margin-top: 15%;
}

/* line 175, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}

/* line 179, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form .fieldset:first-child {
  margin-top: 0;
}

/* line 182, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}

/* line 185, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}

/* line 189, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

/* line 212, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

/* line 217, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form input.full-width {
  width: 100%;
}

/* line 221, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

/* line 227, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #1CBCB0;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 240, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}

@media only screen and (min-width: 600px) {
  /* line 249, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-form {
    padding: 2em;
  }

  /* line 252, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-form .fieldset {
    margin: 2em 0;
  }

  /* line 255, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }

  /* line 258, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }

  /* line 261, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }

  /* line 264, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}
/* line 271, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}

/* line 280, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

/* line 285, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 1170px) {
  /* line 299, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
  .cd-close-form {
    display: none;
  }
}
/* line 304, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

/* line 308, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/forms.css.scss */
#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

/* line 2, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
#user-main .round-image-50 img {
  margin-top: 8px;
}

/* line 8, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.panel-footer {
  /*background-color: #f8fafb;*/
  border-top: 1px solid #d9e0e2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 15, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
#star {
  margin-top: 19px;
}

/* line 19, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.post_show {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  margin-top: 15px;
  border-radius: 4px;
  background: #fff;
}

/* line 27, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.post-body {
  width: 100%;
  padding: 0px 25px 0px 25px;
  margin-bottom: 15px;
}

/* line 33, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.post_name {
  margin-top: 19px;
  font-weight: 600;
}

/* line 38, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
div.star_group.u-pull-right {
  margin-top: 3px;
}

/* line 42, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.post_media {
  margin-top: 0px;
  padding-bottom: 10px;
  line-height: 25px;
}

/* line 48, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.user_avatar {
  padding-right: 20px;
}

/* line 53, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.panel-footer {
  padding: 0px 25px;
  height: 55px;
}
/* line 55, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.panel-footer p {
  margin: 0;
}
/* line 58, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/posts.scss */
.panel-footer .user {
  padding-top: 8px;
}

/*************** Profile Post **************/
/* line 3, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
#main-user-wrapper {
  padding-top: 1em;
  height: 100%;
  background-color: #F8F9FA;
  margin-left: 325px;
}

/* line 10, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
#user-main {
  width: 500px;
  min-height: 100%;
  height: auto;
  /*border-right: 1px solid #d9e0e2;
  border-left: 1px solid #d9e0e2;
  border-top: 1px solid #d9e0e2;;*/
  max-width: 798px;
  /*background-color:#FFF;*/
  margin: auto;
}

/************* Profile Box ******************/
/* line 24, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
#profile_name {
  background: rgba(0, 0, 0, 0.25);
}

/* line 29, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
.unfollow {
  color: #1E90FF;
  background-color: transparent;
  border-color: #1E90FF;
  font-weight: 200;
}

/* line 36, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
.stylish-panel {
  margin-bottom: 1.25em;
  position: fixed;
  padding: 0 0 .75em 0;
  font-weight: 400;
  float: left;
  z-index: 2;
  background: #fff;
  border: 1px solid #d9e0e2;
  height: 322px;
  width: 250px;
  -webkit-font-smoothing: antialiased;
  margin-top: 65px;
  margin-left: 65px;
  text-align: center;
  border-radius: 4px;
}
/* line 53, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
.stylish-panel h2 {
  font-size: 1.4em;
  padding: 5px;
}
/* line 58, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
.stylish-panel .btn {
  width: 100%;
  margin-top: 6px;
}

/* line 64, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
.stylish-panel img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 71, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
.stats {
  padding: 5px;
}

/****************** queries **********************/
@media screen and (max-width: 849px) {
  /* line 80, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
  .stylish-panel {
    display: none;
  }
}
@media screen and (max-width: 653px) {
  /* line 88, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
  #main-article-wrapper {
    width: 100%;
    border-right: none;
    border-left: none;
    margin: 0;
  }

  /* line 96, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/profile.scss */
  #main-article {
    width: 95%;
  }
}
/* line 2, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/home_page.scss */
body {
  background-color: #F8F9FA;
}

/*********  Main Feed ********/
/* line 13, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/home_page.scss */
#main-article-wrapper {
  padding-top: 1em;
  height: 100%;
  background-color: #F8F9FA;
}
/* line 18, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/home_page.scss */
#main-article-wrapper .round-image-50 img {
  margin-top: 9px;
}

/* line 23, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/home_page.scss */
#main-article {
  width: 500px;
  min-height: 100%;
  height: auto;
  max-width: 798px;
  /*background-color:#FFF;*/
  margin: auto;
}

/* line 4, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
#finduser--wrapper {
  padding-top: 1em;
  height: 100%;
  background-color: #F8F9FA;
}

/* line 10, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
#find-user-main {
  width: 500px;
  min-height: 100%;
  height: auto;
  max-width: 798px;
  background-color: #FFF;
  margin: auto;
  padding: 25px;
  border: 1px solid #d9e0e2;
  border-radius: 0.35em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 50px;
}
/* line 24, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
#find-user-main h1 {
  text-align: center;
}
/* line 28, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
#find-user-main input {
  width: 100%;
  margin-bottom: 20px;
}

/* line 35, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
.users {
  /*width: 300px;
  overflow: hidden;
  color: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fff;*/
  margin-bottom: 20px;
}

/* line 46, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
.user-item {
  position: relative;
  line-height: 20px;
  padding: 10px 80px 10px 15px;
  font-weight: bold;
  height: 60px;
  border-bottom: 1px solid #dddddd;
  font-size: 1.4em;
}
/* line 55, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
.user-item .round-image-50 img {
  width: 35px;
  margin-top: 4px;
  border-radius: 4px;
}

/* line 61, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
.user-item:first-child {
  margin-top: -1px;
  padding-top: 11px;
}

/* line 66, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
.user-item-pic {
  position: relative;
  float: left;
  margin: -2px 12px 0 -7px;
}

/* line 73, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
.user-item-desc {
  display: block;
  font-weight: normal;
  color: #b8c6cc;
  font-size: .8em;
  margin-top: 11px;
}

/* line 81, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/find_user.scss */
span.user-item-delete {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -10px;
  color: #eee;
  margin-left: 10px;
}

/* line 1, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
#stream {
  margin-bottom: 1.25em;
  position: fixed;
  padding: 0 0 .75em 0;
  font-weight: 400;
  float: left;
  z-index: 2;
  background: #fff;
  height: 100%;
  width: 325px;
  -webkit-font-smoothing: antialiased;
  margin-top: 2px;
  overflow: scroll;
}

/* line 17, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
#stream-list {
  width: auto;
  height: 100%;
  overflow: scroll;
  padding-bottom: 82px;
  padding-top: 15px;
  /*text-align: center;*/
}

/* line 27, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
#stream-item:last-child {
  margin-bottom: 3.5em;
}

/* line 34, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
.follow-list li {
  border-bottom: 1px solid #e0e6ef;
  width: 100%;
  height: 65px;
  padding: 14px 0 0px 9px;
  margin-top: -16px;
}
/* line 42, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
.follow-list li:hover {
  background-color: #F8F9FA;
}
/* line 47, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
.follow-list span.list-user {
  margin-bottom: 1px;
}
/* line 50, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
.follow-list input[type="checkbox"], .follow-list input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin-left: 0px;
  float: right;
  margin-right: 22px;
  /* line-height: 5; */
  margin-top: 8px;
}

/* line 64, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
#stream-footer {
  background-color: #fff;
  border-top: 1px solid #d9e0e2;
  bottom: 0;
  box-shadow: 0 -2px 0 rgba(217, 224, 226, 0.2);
  font-size: .875em;
  right: 0;
  padding: .75em 0 1em;
  position: fixed;
  text-align: center;
  width: 324px;
  color: #ff3c1f;
  font-family: "Brandon", Helvetica, Arial, sans-serif;
}
/* line 78, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
#stream-footer .btn {
  width: 95%;
}

/* line 85, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
textarea.message_body {
  width: 94%;
  margin-top: 13px;
  height: 36px;
  margin-left: 3%;
  height: 80px;
  border: 1px solid #1CBCB0;
}

/* line 96, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
span.list-group-item {
  float: left;
  padding: 9px;
}

/* line 102, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/message_form.scss */
#stream .round-image-50 img {
  float: left;
}

/******************* checkbox **********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/reset.css */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* line 31, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/reset.css */
body {
  line-height: 1;
  padding-top: 50px;
}

/* line 36, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/reset.css */
ol, ul {
  list-style: none;
}

/* line 39, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/reset.css */
blockquote, q {
  quotes: none;
}

/* line 42, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/reset.css */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, /Users/adamyarger/curate/curate_2/app/assets/stylesheets/core/reset.css */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
