
<div id="main-user-wrapper">
	<div id="user-main">

		<div id="post-new"></div>

		<div id="feed-post"></div>

		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>

	</div>
</div>








