

<div id="main-article-wrapper">
    <div id="main-article">	

	    <div id="feed-form">	
			<form id="post-form">
				<input type="text" name="post[body]" placeholder="Share some sound..." id="post-body">
				<input type="submit" class="button do">
			</form>
		</div>

	</div>
</div>			    
				