	<div class="stylish-panel">
				<div class="user-image">
					<%= image_tag(@user.avatar.url(:medium)) %>
				</div>
				<h2><%= @user.name %></h2>


				<section class="stats">
					<%= render 'shared/stats' %>
			    </section>
	    	
	    	<div class="follow_btn">
				<%= render 'users/follow_form' if user_signed_in? %>
			</div>
	    
	</div>
	