<li class="user-item">
	
	<span class="round-image-50 user-item-pic"><%= image_tag(user.avatar.url(:thumb)) %></span>
	<span class="user-item-desc"><%= link_to user.name, user %></span>
	

	<span id="user-item-delete">
	<% if current_user.admin? && !current_user?(user) %>
    								 <%= link_to "delete", user, method: :delete,
                                  		data: { confirm: "You sure?" } %><% end %>
    </span>
</li>

 
    




