<% provide(:title, 'All users') %>


<%= will_paginate %>

<div id="finduser--wrapper">
    <div id="find-user-main">
    	<h1>All users</h1>

    	<div class="users">
	     	<ul>
		    	<%= render @users %>
		 	</ul>
	 	</div>


    </div>
</div>

<%= will_paginate %>







