<% provide(:title, 'All users') %>


<%= will_paginate %>

<div id="main-article-wrapper">
    <div id="main-article">
    	<h1>All users</h1>

    	<div class="cart">
	     	<ul>
		    	<%= render @users %>
		 	</ul>
	 	</div>


    </div>
</div>

<%= will_paginate %>







