<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= render 'users/profile_box' %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.posts.any? %>
      
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>