<% provide(:title, @user.name) %>
<div class="row">
  <aside class="four columns">
    <%= render 'users/profile_box' %>
  </aside>
  <div class="eight columns">
    <% if @user.posts.any? %>
      
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>