<% provide(:title, @user.name) %>

 
    <%= render 'users/profile_box' %>

<div id="main-article-wrapper">
    <div id="main-article">
      <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
    </div>
</div>