<div class="modal-body">
    <%= form_for :post, url: posts_path do |f| %>

        <%= f.label     :body %><br>
        <%= f.text_area :body, placeholder: "Share a sound...", class: 'form-control' %>
        <br>
        <%= f.submit "Submit Post", class: "btn btn-primary" %>

    <% end %>
</div>



