<li id="post-<%= post.id %>">
  
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="body"><%= post.body %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>