

<li class="post_show">

      <div class="panel-heading post_media">
        <%= post.body_html %>
      </div>
      <div class="panel-footer">

          <div class="name_avatar u-pull-left">
          	<span class="round-image-50 name  user_avatar u-pull-left">
          		<%= link_to image_tag(post.user.avatar.url(:thumb)), post.user %>
          	</span>
            <span class="user_name">
              <%= link_to post.user.name, post.user, class: "post_name u-pull-left" %>
            </span>
          </div>
          
            <div id="star" class="star_group u-pull-right">
	              <!-- link to like post here -->
	                <i class="fa fa-star"></i>
	                <!-- number of like goes here --> 2
	            <% if current_user?(post.user) %>
		      		<%= link_to "delete", post, method: :delete,
		                                       data: { confirm: "You sure?" }, class: "delete" %>
			        <% end %>
            </div>
      </div>

</li>