
.li{
	list-style: none;
}

/****************************************** flash ******************************************/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    
 }





/****************************************** header avatar ******************************************/

.round-image-50 img{
  width: 35px;
  margin-top: 8px;
  border-radius: 4px;
}

/********************************************* Profile*************************************/

 #profile_name{
  background: rgba(0, 0, 0, 0.25);
 }


 .unfollow{
  color: #1E90FF;
  background-color: transparent;
  border-color: #1E90FF;
  font-weight: 200;
 }

.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.stylish-panel > div > div{
    padding-left: 15%;
    padding-right: 15%;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}

.stylish-panel {
    background-color: #f8fafb;
    border: 1px solid #dddddd;
	margin-top: 15px;
	border-radius: 4px;
    margin-bottom: 16px;
    
}

.post_show{
	border: 1px solid #dddddd;
	margin-top: 10px;
	border-radius: 4px;

}

.stylish-panel img {
    border-radius: 3.5%;
    /*padding: 4px;*/
    border-color: #fff;
    border: 1px solid #dddddd;
    width:210px;
}


/********************************************* Home Page *************************************/










