@import "bootstrap-sprockets";
@import "bootstrap";




@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */


html {
  overflow-y: scroll;
  font: 14px "brandon-grotesque", helvetica, verdana, arial, sans-serif;
}

body {
  padding-top: 63px;
/*  padding-left: 50px;
  padding-right: 50px;*/
  padding-bottom:30px;
  font-weight: 200;
  background-color: #f8f8f8 ;
  list-style: none ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

li{
  list-style: none;
}



.bg {
  background: url(/assets/starry_forest.jpg) no-repeat center center;
  position: fixed;
  width: 100%;
  height: 900px;
  top:0;
  left:0;
  z-index: -1;
  -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);

}

.jumbotron {
  height: 450px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;

}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin:0;
}

a{
  color:#1E90FF;
  font-weight: 200;
}

h1 {
  font-size: 3em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

p {
  font-size: 1.1em;
  
}

a.btn.btn-lg.btn-primary {
  border-color: transparent;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #1E90FF;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #1E90D7;
  text-decoration: none;
}

.navbar-fixed-top{
  top: 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #fff;
}

.underline {
    display: inline-block;
    box-shadow: 0 2px #1E90FF;
    
}

/*Main Posts*/

.post_wrapper {
  background-color: #fff;
  box-shadow: 0px 0px .5px .5px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.media_wrapper{
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.button {
      width: 100%;
      display: inline-block;
      padding: .75rem 0;
      margin-bottom: 1rem;
      text-align: center;
      text-decoration: none;
      color: #969696;
      &:hover {
        color: #50A7C7;
        border: 1px solid #50A7C7;
      }
}


div.date_and_like {
  padding-bottom: 5px;
}


.timestamp{
  float:right;
}

.date_and_like{
  border-top: 1px solid #f8f8f8;
  padding-top: 11px;
}

a.name{
  font-weight: 500;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn-primary {
color: #fff;
background-color: #1E90FF;
border-color: #fff;
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*p.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 41px;
  text-align: center;
}*/


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* modal popup text area */

#fixedPullModal .modal-content { 
    overflow: auto;
    padding-bottom: 15px;
}

button.pull-right.btn.btn-success{
  color: #fff;
  margin-top: 10px;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

a.pull-left.btn.btn-default.btn-large{
  margin-top: 8px;
  border-color: #1E90FF;
}

#nav_button:hover{
  color: #1E90FF;
  background-color: transparent;

}

a#nav_button{
  color: #1E90FF;
  font-weight: 200;
}

div.modal-dialog{
  margin-top: 15%;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    
 }

/*Profile*/

 #profile_name{
  background: rgba(0, 0, 0, 0.25);
 }


 .unfollow{
  color: #1E90FF;
  background-color: transparent;
  border-color: #1E90FF;
  font-weight: 200;
 }

.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.stylish-panel > div > div{
    padding-left: 15%;
    padding-right: 15%;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}

.stylish-panel {
    margin-top: 0px;
    background-color: #fff;
    box-shadow: 0px 0px .5px .5px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    
}

.stylish-panel img {
    border-radius: 3.5%;
    padding: 4px;
    border-color: #fff;
    border: 1px solid #dddddd;
    width:210px;
}

/*avatar*/

.thumb_avatar img{
  border-radius: 50%;
  padding: 2px;
  border-color: #fff;
  border: 1px solid #dddddd;
  width:30px;
}

#nav_avatar{
  margin-top: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

