/*    main feed

-------------------------------- */

main {
	position: relative;
	min-height: 100%;
	background: $background;
	padding-top: 70px;

	z-index: $main-zindex;

	@include MQ(M) {
		padding-top: 90px;
	}

	@include MQ(L) {
		padding-top: 120px;
	}
}

#cd-gallery-items {
	li {
		margin-bottom: 1.5em;

		img {
			width: 100%;
			display: block;
			@include border-radius;
		}
	}

	@include MQ(M) {
		li {
			@include column(.48); // see how this mixin works inside partials > _layout.scss
			margin-bottom: 2em;
			margin-right: 4%;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	@include MQ(L) {
		li {
			@include column(.31);
			margin-bottom: 2.5em;
			margin-right: 3.5%;

			&:nth-child(2n) {
				margin-right: 3.5%;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

/*#cd-shadow-layer {
	position: fixed;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: $shadow-layer-bg;
	cursor: pointer;

	z-index: $shadow-zindex;

	display: none;

	&.is-visible {
		display: block;
		@include animation(cd-fade-in .3s);
	}
}*/
