


#finduser--wrapper{
  padding-top: 1em;
  height:100%;
  background-color:#F8F9FA;
}

#find-user-main{
  width: 500px;
  min-height: 100%;
  height: auto;
  max-width: 798px;
  background-color: #FFF;
  margin: auto;
  padding: 25px;
  border: 1px solid #d9e0e2;
  border-radius: 0.35em;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 50px;

  h1{
    text-align: center;
  }

  input{
    width: 100%;
    margin-bottom: 20px;
  }
}


.users {
  /*width: 300px;
  overflow: hidden;
  color: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fff;*/
  margin-bottom: 20px;
}


.user-item {
  position: relative;
  line-height: 20px;
  padding: 10px 80px 10px 15px;
  font-weight: bold;
  height: 60px;
  border-bottom: 1px solid #dddddd;
  font-size: 1.4em;

    .round-image-50 img{
    width: 35px;
    margin-top: 4px;
    border-radius: 4px;
  }
}
.user-item:first-child {
  margin-top: -1px;
  padding-top: 11px;
}

.user-item-pic {
  position: relative;
  float: left;
  margin: -2px 12px 0 -7px;
}


.user-item-desc {
  display: block;
  font-weight: normal;
  color: #b8c6cc;
  font-size: .8em;
  margin-top: 11px;
}

span.user-item-delete {
    
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -10px;
    color: #eee;
    margin-left: 10px;
  
}









