/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $main-text;
	background-color: $background;

	&.overflow-hidden {
		/* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */ 
		overflow: hidden;
	}
}

a {
	color: $link;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */



/*Use if you want a pic in nav*/

/*.cd-img-replace { 
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}*/

/* -------------------------------- 

xheader 

-------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: $color-5;
	text-align: center;
	box-shadow: 0 2px 0 rgba(#000, .1);

	z-index: $header-zindex;

	
}


.signed-out-nav{
	position: absolute;
	height: auto;
	width: auto;
	left: auto;
	right: 8em;
	padding-top: 0;
	top: 0;
	background: transparent;
	box-shadow: none;
	line-height: 50px;
	z-index: 4;

	li {
			display: inline-block;
			margin-left: 1em;
		}

}



#logo {
	padding-top: 5px;
	margin-top: -15px;

	/* delete this property if you don't want your logo to scale down on mobile devices */
	@include transform(scale(.8)); 

	
}

.nav-avatar img{
	border:1px solid #eeeff7;
	margin-left: 15px;
	float: left;
}


#cd-hamburger-menu {
	position: absolute;
	margin-top: -57px;
	height: 100%;
	margin-left: 16px;

	.round-image-50{
		margin-left: 6px;
		float: left;
	}


	a {
		width: 60px;
		height: 100%;
		padding-left: 0px;
		padding-right: 0px;
		float: left;
		margin-top: 9px;
	}
}

#cd-cart-trigger {
	position: absolute;
	top: 16px;
	height: 100%;



	a {
		width: 60px;
		height: 100%;
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		border: 1px solid #ff5a5f;
		margin-right: 28px;
		padding: 6px 20px 5px 20px;
		border-radius: 4px;
		color: #ff5a5f;
	}
}

#cd-hamburger-menu {
	left: 0;

	#name{
		a{
			margin-top: 1px;
		}
	}

	

	
}

#cd-cart-trigger {
	right: 0;

	

	@include MQ(L) {
		/* cart right margin on desktop */
		right: 0;

		a {
			position: relative;
			width: 100px;
			border-left: none;
			/* background-color: #f2f2f2; */
			border: 1px solid #ff5a5f;
			margin-right: 28px;
			padding: 6px 20px 5px 20px;
			border-radius: 4px;
			color: #ff5a5f;
		}
	}
}

#main-nav, #cd-cart {
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;

	/* header height */
	padding-top: 50px; 

	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	box-shadow: 0 0 20px rgba(#000, .2);

	z-index: $sidebar-zindex;

	@include MQ(M) {
		width: 325px;
	}

	@include MQ(L) {
		width: 325px;
	}
}

#main-nav {
	left: -100%;
	background: #FFF;

	@include transition(left .3s);

	&.speed-in {
		left: 0;
	}

	ul {

		a {
			display: block;
			height: 50px;
			line-height: 50px;
			padding: 0 1em;
			border-bottom: 1px solid $border;
		}

		.current {
			box-shadow: inset 3px 0 $link;
		}
	}

	

	.no-js & {
		position: fixed;
	}
}

#cd-cart {
	right: -100%;
	background: #FFF;

	@include transition(right .3s);

	&.speed-in {
		right: 0;
	}

	> * {
		padding: 0 1em;
	}

	h2 {
		@include font-size(14px);
		font-weight: bold;
		text-transform: uppercase;
		margin: 1em 0;
	}

	.cd-cart-items {
		padding: 0;

		li {
			position: relative;
			padding: 1em;
			border-top: 1px solid $border;

			&:last-child {
				border-bottom: 1px solid $border;
			}
		}
	}

}


/* -------------------------------- 

xkeyframes 

-------------------------------- */

@include keyframes(cd-fade-in) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
