
body{
	background-color:#F8F9FA;
}


#stream {
	margin-bottom: 1.25em;
	position: fixed;
	padding: 0 0 .75em 0;
	font-weight: 400;
	float: left;
	z-index: 2;
	background: #fff;
	border-right: 1px solid #d9e0e2;
	height: 100%;
	width: 325px;
	-webkit-font-smoothing: antialiased;
	margin-top: 2px;
	overflow: scroll;
}


#stream-list{
	width: auto;
	height: 100%;
	overflow:scroll;
	padding-bottom: 230px;
	/*text-align: center;*/

}

#stream-item:last-child{
	margin-bottom:3.5em;
}

.follow-list{
	li{
		border-bottom: 1px solid #e0e6ef;
	}

	span.list-user{
		margin-bottom: 1px;
	}
	input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	margin-left: 0px;
	float: right;
	margin-right: 22px;
	/* line-height: 5; */
	margin-top: 8px;
	}


}


#stream-footer{
	background-color: #fff;
	border-top: 1px solid #d9e0e2;
	bottom: 0;
	box-shadow: 0 -2px 0 rgba(217,224,226,0.2);
	font-size: .875em;
	right: 0;
	padding: .75em 0 1em;
	position: fixed;
	text-align: center;
	width: 324px;
	color: #ff3c1f;
	font-family:"Brandon", Helvetica, Arial, sans-serif;

	.btn{
		width: 95%;
	}
}



textarea#message_body{
	width: 98%;
	margin-top: 13px;
	height: 36px;
}



/*********  end sidebar ********/



/*********  Main Feed ********/

#main-article-wrapper{
	padding-top: 1em;
	height:100%;
	background-color:#F8F9FA;
	margin-left:325px;
}

#main-article{
	width:500px ;
	min-height:100%;
	height:auto;
	max-width: 798px;
	/*background-color:#FFF;*/
	margin:auto;
}




