
.panel-footer{
	background-color: #f8fafb;
	border-radius: 4px;
}

#star{
	margin-top: 15px;
}

.post_show{
	border: 1px solid #dddddd;
	margin-top: 10px;
	border-radius: 4px;

}

.post_name{
	line-height: 3em;
}

div.star_group.u-pull-right{
	margin-top:  3px;
}

.post_media{
	margin-top: -1px;
}

.user_avatar{
	padding-right: 20px;
}


.panel-footer {
		padding: 0px 25px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}