
.panel-footer{
	background-color: #f8fafb;
	border-radius: 4px;
}


.post_show{
	border: 1px solid #dddddd;
	margin-top: 10px;
	border-radius: 4px;

}

.post_media{
	margin-top: 1px;
}

.user_avatar{
	padding-right: 20px;
}


.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}