#profile_name{
  background: rgba(0, 0, 0, 0.25);
 }


 .unfollow{
  color: #1E90FF;
  background-color: transparent;
  border-color: #1E90FF;
  font-weight: 200;
 }

.stylish-panel {
    padding: 20px 0;
    text-align: center;
    width:23%;
    float: left;

}
.stylish-panel > div > div{
    padding-left: 15%;
    padding-right: 15%;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}

.stylish-panel {
    background-color: #f8fafb;
    border: 1px solid #dddddd;
    margin-top: 15px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 31px;
    margin-right: 43px;
    
}



.stylish-panel img {
    border-radius: 3.5%;
    /*padding: 4px;*/
    border-color: #fff;
    border: 1px solid #dddddd;
    width:80% ;
}

.posts{
  width:66%;
  float: left;
}



/****************** new **********************/

