<footer class="footer">
  <small>
    Curate Inc. A place you can feel free to express yourself
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact",   '#' %></li>
      <li><%= link_to "News",   '#' %></li>
    </ul>
  </nav>
</footer>