<header>
    <!-- <div id="avatar-menu"><a href="#0">Menu</a></div> -->
    
    <% if user_signed_in? %>
      <div id="left-nav">

       
            <%= render 'layouts/popover_backbone' %>
        

      </div>
        
      <div id="right-nav"></div>

          <% else %>
                <div class="signed-out-nav">
                  <ul>
                     <li class="navbar-item sign-in">
                        <%= link_to "Sign In", new_user_session_path, class: "popover-link" %>
                     </li>
                     <li class="navbar-item sign-in">
                        <%= link_to "Register", new_user_registration_path, class: "popover-link" %>
                     </li>
                  </ul>
                </div>
          <% end %>
    

</header>





<% if user_signed_in? %>
  <div id="stream"></div>
<% end %>


