

<div class="cd-user-modal is-visable"> <!-- this is the entire modal form, including the background -->
	<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
		
		<div id="cd-login"> <!-- log in form -->
			<div class="cd-form">
				
			    <div class="post">
					<form>
						<input type="text" name="post[body]" id="post-body">
						<input type="submit">
					</form>
				</div>
			    
			</div>

			<!-- <a href="#0" class="cd-close-form">Close</a> -->
		</div> <!-- cd-login -->

		<a href="#0" class="cd-close-form">Close</a>
	</div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->

