<div id="right-nav">
	<ul>
	  <li id="post" class="button"><a class="cd-signin">Post</a></li>
	  <li id="notify" class="button button-circle" ><a class="icon-bell"></a></li>
	  <li id="message" class="button button-circle" ><a class="icon-speech-bubble"></a></li>
	   
	</ul>
</div>

