
	<ul>
	  <li id="post" class="button"><a class="cd-signin">Post</a></li>
	  <li id="notify" title="More Cowbell!" class="button button-circle" ><a><i class="fa fa-bell-o"></i></a></li>
	  <li id="message" title="Digital Fart" class="button button-circle" ><a><i class="fa fa-paper-plane-o"></i></a></li>
	   
	</ul>


