<div id="right-nav">
	<ul>
	  <li class="post button"><a class="cd-signin" href="#0">Post</a></li>
	  <li id="notify" class="button button-circle" ><a class="icon-bell"></a></li>
	  <li class="button button-circle" ><a class="icon-speech-bubble"></a></li>
	   
	</ul>
</div>